body {
    background: rgb(61, 82, 110);
    font: normal 15pt Arial; 
}

header {
    color: white;
    text-align: center;
    background-color: rgba(161, 102, 102, 0.753); 
    padding: 1px;
    font-family: 'Comic Neue', cursive ;

}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(5, 0, 0, 0.575);
    margin-top: 10px;
    background: rgb(157, 162, 168);
    
}

div#res {
    font: normal 16pt bold ; 
    
}


footer {
    text-align: center;
    margin-top: 20px;
    color: #f1e7e7;
    font-size: 1.4rem;


}

